@import "~assets/colors.scss";

.alarmList{
  position: fixed;
  z-index: 4;
  width: 240px;
  top: 15%;
  right: 50px;
  transform: translate(-50% -50%);
  md-chip{
    font-size: 1.2em;
    height:30px;
    line-height: 30px;
    font-weight: 100;
    i{
      float: right;
      margin-right: 10px;
      margin-top: 3px;
      cursor: pointer;
    }
    span{
      margin-left: 10px;
    }
  }
  md-chip:hover{
    background-color: $bluegrey900;
  }


  .soonAlarm{
    background-color: $pink400 !important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
  }
  .soonAlarm:hover{
    background-color: $pink600 !important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    animation-iteration-count: infinite;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


// youtube-player{
//   position: fixed;
//   z-index: 5;
//   top:100%;
//   left:100%;
//   transform: translate(-100%,-100%);
//
// }

._hidden{
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

md-spinner{
  width: 160px;
  height: 160px;
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

.feed{
  width: 35%;
  margin: auto;
  position: relative;
  z-index: 5;

  md-card{
    margin-top: 20px;
    font-size: 1.2em;
  }

  .example-header-image{
    background-size: cover;
    background-position: center;
    border-radius: 0;
  }

  p{
    line-height: 1.3em;
  }
  md-input-container{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .mdInput{
    margin: 0;
    padding: 0;
  }
  .commentInput{
    height: 40px;
    position: relative;
    transform: translateY(-20px);
  }

  .commentSection{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .commentContents{
    margin-left: 10px;
    width: 100%;
    span{
      display: block;
      line-height: 18px;
      strong{
        font-weight: 400;
      }
    }
    .commentInterface{
      // margin-top: -2px;
      color: $secondaryText;
      height: 23px;
      margin-bottom: 5px;
      a{
        height: 23px;
        width: auto;
        line-height: 23px;
      }
    }
  }
}

.ytOverlap{
  position: fixed;
  z-index: 5;
  top:100%;
  left:100%;
  transform: translate(-100%,-98%);
}
.removeAllEvents{
  pointer-events: none;
}

.ytNameDisplay{
  position: absolute;
  transform: translateX(50%);
  margin-left: 75px;
  font-size: 0.4em;
  font-weight: 100;
  span{
    color: $pink200;
  }
}

dice{
  position: absolute;
  z-index: 5;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-100%);
}

snack-bar-container{
  max-width: none;
  min-width: 0;
}

div.dev{
  position: absolute;
  z-index: 4;
  top:4%;
  left:50%;
  width:60%;
  // height: 90vh;
  transform: translate(-50%);
  text-align: center;
  color: white;

  .devContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .deokjaeImg{
      background-image: url('~/assets/deokjae.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
      width: 350px;
      border-radius: 50%;
    }
  }
  h1{
    font-size: 45px;
    font-weight: 100;
    margin: 0.5em;
  }

  .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    a{
      flex-basis:50%;
      flex-grow: 1;
    }

    .gitrepo{
      font-size: 60px;
      line-height: 60px;
      font-weight: 100;
      margin-top: 60px;
      color:  $pink600;

      .gitrepoIcon{
        background-color: $pink600;
        mask-image: url('~/assets/code.png');
        width: 60px;
        height: 60px;
        mask-size: cover;
        display: inline-flex;
      }

      .demoVid{
        background-color: $pink600;
        mask-image: url('~/assets/yticon.png');
        width: 60px;
        height: 60px;
        mask-size: cover;
        display: inline-flex;
      }

    }

    .github{
      mask-image: url('~/assets/github.svg');
    }
    .linkedin{
      mask-image: url('~/assets/linkedIn.png');
    }
    .icon{
      width: 100px;
      height: 100px;
      display: inline-flex;
      background-color: $pink600;
      mask-size: cover;
    }
  }
}
