@import "~assets/colors.scss";

@font-face {
   font-family: digital;
   src: url(../../../assets/digital-7.regular.ttf);
}
@font-face {
   font-family: digitalMono;
   src: url(../../../assets/digital-7.mono.ttf);
}

section{
  position: absolute;
  margin: 0;
  padding: 0 22%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index: 1;

  md-error{
    font-size: 0.75em;
  }
}

.cameraTopPadding{
  margin-top: 10vh;
}


.camera{
  border-radius: 5%;
  color: $pink600;
  text-align: center;
}

section.signUp{

  .intro{
    position: relative;
    width: 100%;
    height: 50vh;
    top: 50%;
    margin-top: -25vh;
    text-align: center;
    font-weight: 100;
    overflow: visible;
    color: $pink600;
    // text-shadow: -1px 0 $pink300, 0 1px $pink300, 1px 0 $pink300, 0 -1px $pink300;
    // text-shadow: 0px 1px 0px white;
  }

  h1{
    font-size: 2.4em;
    font-weight: 100;
  }

  h2{
    font-size: 1.9em;
    font-weight: 100;
  }

  .buttonToCamera{
    margin-top: 20px;
    font-size: 1.5em;
    height: 3em;
    width: 8em;
    font-weight: 400;
  }

  snack-bar-container.snackBar{
    color: white !important;
    font-size: 2em !important;
  }

  md-spinner{
    width: 160px;
    height: 160px;
    position: absolute;
    top:40%;
    left:50%;
    // margin-top: -80px;
    // margin-left: -80px;
    transform: translate(-50%, -50%);
  }

  form{
    position: absolute;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }

  .input-width {
    width: 100%;
    color: white;
    margin-bottom: 25px;

    md-error{
      font-size: 0.8em;
    }
  }

  .signUpBtn{
    width: 40%;
    height: 60px;
    margin: auto;
    background-color: $pink500;
    font-size: 1em;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .signUpBtn:disabled{
    background-color:$bluegrey800;
    color: $bluegrey500;
  }

  .routeToLoginBtn{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 150px;
    height: 60px;
    font-size: 1.5em;
    color: $pink200;
    font-weight: 100;
    transform: translate(-50%,-50%);
    line-height: 60px;
    // border-bottom: 1px solid $pink700;
  }
  .routeToLoginBtn:after{
    content: '';
    display: block;
    position: absolute;
    width:80px;
    bottom:5px;
    left:33px;
    border-bottom: 1px solid $pink200;
  }
}//SignUp style



section.login{
  position: absolute;
  margin: 0;
  padding: 0 22%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index: 999;
  form{
    position: absolute;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
  }

  .input-width {
    width: 100%;
    color: white;
    margin-bottom: 25px;
  }

  .logInBtn{
    width: 40%;
    height: 60px;
    margin: auto;
    background-color: $pink500;
    font-size: 1em;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .logInBtn:disabled{
    background-color:$bluegrey800;
    color: $bluegrey500;
  }

  .routeToSignUpBtn{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 150px;
    height: 60px;
    font-size: 1.5em;
    color: $pink200;
    font-weight: 100;
    transform: translate(-50%,-50%);
    line-height: 60px;
    // border-bottom: 1px solid $pink700;
  }

  .routeToSignUpBtn:after{
    content: '';
    display: block;
    position: absolute;
    width:85px;
    bottom:5px;
    left:33px;
    border-bottom: 1px solid $pink200;
  }
}//Log In view

section.alarmView{
  padding: 0;

  .side-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background:transparent !important;
  }

  .sidenav {
    padding: 20px;
    button{
      font-size: 1.1em;
      font-weight: 400;
      height: 60px;
      width: 150px;
      display: block;
      text-align: left;
    }
    i{
      font-size: 1.8em;
    }
    img{
      width:33px;
      height:33px;
      object-fit: cover;
      border-radius: 50%;
      filter: grayscale(100%);
      position: relative;
      transform: translate(-4px,-2px);
    }

    button.deokjae{
      position: absolute;
      bottom: 40px;
    }
  }

  .sideBar{
    position: fixed;
    top:5%;
    left:3%;
    color:$pink600;
    display: flex;
    i.material-icons{
      font-size: 3em;
    }
    button{
      color: $pink600;
    }
  }

  .currentClock{
    color: $pink600;
    font-size: 3em;
    z-index: 3;
    font-family: digital;
    position: fixed;
    top: 5%;
    right: 4%;
    height: 89px;
    text-align: center;
    width: 200px;
    // transform: translate(-50%,-50%);
    p{
      margin: 0;
    }
    span{
      font-family: digital;
    }
    span.smaller{
      font-size: 0.5em;
    }
  }


  .alarmInterface{
    color: $pink700;
    position: absolute;
    z-index: 3;
    width: 50%;
    height:460px;
    margin: 0;
    // padding: 50px 0;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    // border: 0.5px solid pink;
    md-grid-list{
      background-color: $rgbaBack;
    }
    md-grid-tile{
      // border: 0.5px solid white;
    }
    i.material-icons{
      font-size: 2em;
      color: $bluegrey700;
      cursor: pointer;
    }
    .pinkIt{
      color: $pink700 !important;
    }
    md-slide-toggle{

    }
    .timeSetting{
      font-family: digitalMono;
      font-size: 3em;
      line-height: 0.5em;
      md-input-container{
        width: 88px;
        padding: 0;
      }
      .mat-input-infix{
        padding-bottom: 15px !important;
      }
      span{
        font-weight: 900;
      }
      input#amOrPmInput{
        // display: none;
      }
      .amBtn{
        font-size: 35px;
        cursor: pointer;
      }
      .shiftALittle{
        margin-right: -31.83px;
      }
    }
    md-select{
      font-size: 2em;
    }
    button{
      width: 350px;
      height: 80px;
      font-size: 1.4em;
      font-weight: 400;
      background-color: $pink700;
      color: white;
    }
    button:disabled{
      background-color:$bluegrey800;
      color: $bluegrey500;
    }

  }//alarmInterface

  .ring-container{
    position:absolute;
    top:46%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    cursor: pointer;

    .msgChip{
      width:200px;
      height: 30px;
      text-align: center;
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 30px;
      font-weight: 100;
      color: $pink400;
      background-color: $bluegrey700;
    }
  }
  svg.ringingAlarm{
    margin: 0 64px;
  }

  #minute{
    transform-origin:left top;
  }
  svg.ringingAlarm{
        -webkit-animation:0.5s linear infinite;
        animation: wiggle 0.5s linear infinite;
      #minute{
        -webkit-animation: rotate 1s linear infinite;
        animation: rotate 1s linear infinite;
      }
      #hour, #minute, #clockface{
        stroke:$pink700 !important;
      }
      #bell1, #bell2, #clockcentre{
        fill:$pink700;
      }
  }

  @keyframes wiggle{
    10%, 30%,50%, 70%, 90% {
      transform: rotate(-10deg)};
    0%, 20%, 40%, 60%, 80% {
      transform: rotate(10deg)};
  }

  @keyframes rotate{
    from{
      -ms-transform:rotate(0deg);
      transform:rotate(0deg);
    };
    to{
      -ms-transform:rotate(360deg);
      transform:rotate(360deg);
    };
  }

}
