$pink700: #c2185b;
$pink600: #d81b60;
$pink500: #e91e63;
$pink400: #ec407a;
$pink300: #f06292;
$pink200: #f48fb1;
$pink100: #f8bbd0;
$pink50 : #fce4ec;

$bluegrey900: #263238;
$bluegrey800: #263238;
$bluegrey700: #455a64;
$bluegrey600: #546e7a;
$bluegrey500: #607d8b;
$rgbaBack: rgba(38, 50, 56,0.75);

$primaryText: #212121;
$secondaryText: #757575;
$divider: #BDBDBD;
